[submodule "ApplicationServerCore"]
	path = ApplicationServerCore
	url = http://github.com/Mabenan/ApplicationServerCore
[submodule "ApplicationServerInterface"]
	path = ApplicationServerInterface
	url = http://github.com/Mabenan/ApplicationServerInterface
[submodule "ApplicationServerListCommands"]
	path = ApplicationServerListCommands
	url = http://github.com/Mabenan/ApplicationServerListCommands
[submodule "ApplicationServerODataPlugin"]
	path = ApplicationServerODataPlugin
	url = http://github.com/Mabenan/ApplicationServerODataPlugin
